/*body*/
/*{*/
    /*margin: auto;*/
    /*outline: 0;*/
    /*border: 0;*/
    /*text-align: center;*/
/*}*/

.center
{

    margin: auto;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}
.center2
{


    position: absolute;
    left: 50%;

    margin-right: -50%;
    transform: translate(-50%)
}


.welcome{
    width: 50%;

}

.bg-color{

    background-image: linear-gradient(to right, #ceff03, #5758b8);

}
.bg-color2{

    background-image: linear-gradient(to right, coral, #17a2b8);

}
.bg-color3{

    background-image: linear-gradient(to right, #e4606d, lightsteelblue);

}
.bg-color4{

    background-image: linear-gradient(to right, #e42235, #de831e);

}
.bg-color5{

    background-image: linear-gradient(to right, #a2b6e4, #00de0f);

}
.bg-color6{

    background-image: linear-gradient(to right, #b9dce4, #de362a);

}
.bg-color7{

    background-image: linear-gradient(to right, #5195e4, #de998c);

}

.box{
    float:left;
    display: none;
    width: 80%;
    height: 100%;
    border-radius: 3px;
    background-color: #eeeeee;
}
/* Add padding and border to inner content
for better animation effect */
.box-inner{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    border: none;
}